.inner{
    position: relative;
}
.contacts{
    position: absolute;
    top:10%;
    right: 1%;
    max-width: 30%;
    width: 400px;
    position: fixed;
}
.contacts:hover .contact_list{
    display: block;
}
.contact_list{
    display: none;
    border: #fff solid 2px;
    border-radius: 10px;
}
.list_btn{
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
}
.inner{
    position: relative;
}
.chat_block{
    width: 1030px;
    position: fixed;
    top: 7%;
    left: 23%;
}
.chat_window{
    padding: 10px;
    height: 900px;
}
.dialog_name{
    border: 2px solid #100c3ac9;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.messages{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 20px;
    height: 600px;
}
.message_box{
    overflow: scroll;
    overflow-x: hidden;
}
.message{
    min-height: 40px;
    border: #100c3ac9 solid 2px;
    border-radius: 6px;
    color: #fff;
    padding: 10px 10px;
}
.in_message{
    align-self: flex-start;
    background-color: #100c3a6e;
    margin-left: 5%;
}
.out_message{
    align-self: flex-end;
    background-color: #040219c9;
    margin-right: 5%;
}

.text_box{
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_box textarea{
    width: 750px;
    height: 150px;
    max-width: 800px;
    max-height: 150px;
    border: 2px solid #040219c9;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #040219c9;
    color: #fff;
    margin-right: 15px;
}

