.post {
    margin-bottom: 20px;
}

.inner {
    width: 600px;
    background: #909090;
    margin: 0 auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 10%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    cursor: pointer;
}

.avatar {
    margin-right: 2%;
    border-radius: 50%;
    border: aquamarine solid 2px;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    margin-right: 3%;
    font-weight: 900;
}

.date {
    color: aquamarine;
}

.post_image {
    margin-top: 2%;
    max-width: 90%;
    max-height: 60%;
    min-height: 0;
    margin-bottom: 2%;
}

.post_image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.text_block {
    width: 90%;
    max-height: 20%;
    margin: 5px 0 10px 0;
    /* margin-left: 5%; */
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_block {
    max-height: 1.5em;
    display: flex;
    align-items: center;
}

.comments {
    max-height: 1.5em;
    margin-right: 4px;
}

.comments img {
    max-height: 1.5em;
}

.comments_counter {
    font-weight: 700;
}

.right_block {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: start;
}

.like button {
    font-size: 24px;
    font-weight: 700;
}
.like_btn{
    color:black;
}
.liked {
    color: red;
}

.likes_dislikes__counter {
    color: #34dc25;
    font-weight: 700;
    margin-right: 15px;
}

.dislike button {
    font-size: 30px;
    font-weight: 700;
}

.error {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    color: rgb(68, 48, 48);
}

.comments {}

.comments_box {
    background: #909090;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comment {
    width: 90%;
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 8px;
    border: solid black 2px;
}

.com_header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.com_ava {
    width: 40px;
    height: 40px;
}

.com_name {
    color: black;
    font-weight: 900;
    font-size: 18px;
}

.com_text {
    color: black;
    margin-left: 50px;
    padding-bottom: 5px;
}

.form {
    width: 90%;
    height: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox {
    width: 100%;
    margin-bottom: 20px;
}

.btn_box {
    width: 50%;
}