.chat_block{
    width: 1200px;
    position: fixed;
    top: 7%;
}
.chat_window{
    padding: 10px;
    height: 900px;
}
.text_box{
    /* position: fixed; */
    /* bottom: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 0 20px;
    position: relative;
}
.text_box textarea{
    width: 750px;
    height: 150px;
    max-width: 800px;
    max-height: 150px;
    border: 2px solid #040219c9;
    border-radius: 6px;
    padding: 40px;
    font-size: 24px;
    font-weight: 700;
    background-color: #000000;
    color: aquamarine;
    margin-right: 15px;
    resize: none;
}
