.header {
    margin-bottom: 30px;
    border-radius: 4px;
    width: 100%;
}
.info_block {
    display: flex;
    align-items: center;
    /* margin-left: 8%; */
    justify-content: center;
}
.avatar_box{
    border-radius: 50%;
    border: aquamarine solid 5px;
    position: relative;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border-radius: 50%;
}

.info_inf {
    margin-left: 40px;
}

.name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    /* text-align: center; */
    color: #1f1e37;
}

.desc_block {
    display: flex;
    line-height: 20px;
    letter-spacing: 1px;
}

.question {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.answer {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    color: #000000;
}

.btn_block {
    margin-right: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.f_color {
    background: linear-gradient(60.95deg, #000000cc 0%, #901111c9 100%);
}

.status_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    width: 400px;
    color: rgb(68, 68, 68);
    text-decoration: underline;
}

.status_input {
    width: 400px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.pencil_box img {
    width: 40px;
    border-radius: 20%;
}

.pencil_box img:active {
    box-shadow: 0px 0px 30px 2px rgb(20, 16, 68);
}
.error{
    color:#ffffff;
    background-color: #510c0c;
    width: 250px;
    height: 50px;
    font-weight: 900;
    border-radius: 10px;
    position: absolute;
    top: 28%;
    left: -20%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.photo_btn{
    color: #000000;
    position: absolute;
    bottom: 0;
    right: 0px;
    text-align: center;
}
.accordion{
    padding-top: 30px;
}
.accordion_header{
    color: #000;
text-align: center;
font-size: 26px;
font-weight: 900;
margin-bottom: 20px;
}
.accordion_box{
    width: 50%;
    margin: 0 auto;
}
.settings{
    color: #000;
    font-size: 28px;
    font-weight: 900;
}
.set_header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    text-decoration: underline;
}
.form_box{
    display: flex;
    justify-content: center;
}
.set_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.set_form_grid{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr;
    gap: 10px;
}
.set_input{
    font-size: 28px;
    margin-left: 20px;
    border: #000 solid 2px;
    padding: 5px;
    min-width: 500px;
    border-radius: 6px;
}
.btn_box{
    width: 300px;
}