.page_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 90%;
    padding: 15px 10px;
    line-height: 20px;
    font-size: 18px;
    border: #000000 1px solid;
    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sub_list {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.sub {
    display: flex;
    border: 1px solid #000;
    justify-content: space-between;
    padding: 15px 15px;
    align-items: center;
    background: #64a8b73c;
}
.avatar{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.desc {
    font-weight: 700;
    opacity: .7;
    /* border-bottom: #000 1px solid; */
    text-decoration: underline;
    text-decoration-color: rgb(34, 0, 255);
}

.btn_box{
    width: 200px;
    height: 30px;
}