.main {
    display: flex;
    background: linear-gradient(115deg, #bf6bffcc 0%, #1c0530c9 100%);
    min-height: 100vh;
    justify-content: space-between;
}

.right_panel {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 100%;
    width: 2%;
    height: 100%;
    background: linear-gradient(115deg, #bf6bffcc 0%, #1c0530c9 100%);
    border-left: #ffffff double 10px;
    border-top: #ffffff solid 5px;
    /* transform: translateX(-80%); */
    transition: 1s;
}

.rp_inner {
    opacity: 0;
    transition: 2s;
    padding: 0 10px;
}

.right_panel:hover .rp_inner {
    opacity: 1;
    transition: 2s;
}

.rp_header {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin: 10px 0;
}

.right_panel:hover {
    transform: translateX(0%);
    width: 18%;
}