.header {
    width: 100%;
    height: 60px;
    background: #0d0d0d;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 0;
    color: #fff;

}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.logo {
    width: 60px;
    height: 60px;
}
.title{
    margin-right: auto;
    margin-left: 10px;
}
.flex{
    display: flex;
    align-items: center;
    margin-right: 2%;
}
.login{
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: underline;
}
.avatar{
    width: 60px;
    height: 60px;
}
.settings{
    margin-right: 2%;
    position: relative;
}
.set_btn{
    color: #fff;
    transition: .3s;
}
.set_btn:hover{
    color: red;
    font-size: 18px;
    transition: .3s;
}
.sMenu{
    width: 400px;
    height: 40px;
    /* background: linear-gradient(180.95deg, #cdccdcc9 0%, #413c8dc9 100%);   */
    border: solid 2px #fff;
    position: fixed;
    right: 200px;
    top: 15px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-radius: 6px;
}
.btn_box{
    height: 30px;
    width: 90%;
}