.header {
    width: 100%;
    height: 60px;
    background: linear-gradient(180.95deg, #000000cc 0%, #100c3ac9 100%);
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 0;
    color: #fff;
    border-bottom: #fff solid 3px;
}

.inner {
    display: flex;
    align-items: center;
}   

.logo {
    width: 60px;
    height: 60px;
}