@font-face {
  font-family: 'Pacifico-Regular';
  src: url("fonts/Pacifico-Regular.woff2") format('woff2'),
  url("fonts/Pacifico-Regular.woff") format('woff'),
  url("fonts/Pacifico-Regular.eot") format('eot');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: local("Lato"),
  /* url("fonts/Lato-Black.woff2") format('woff2'), */
  url("fonts/Lato-Black.woff") format('woff'),
  url("fonts/Lato-Black.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local("Lato"),
  /* url("fonts/Lato-Bold.woff2") format('woff2'), */
  url("fonts/Lato-Bold.woff") format('woff'),
  url("fonts/Lato-Bold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local("Lato"),
  /* url("fonts/Lato-Regular.woff2") format('woff2'), */
  url("fonts/Lato-Regular.woff") format('woff'),
  url("fonts/Lato-Regular.eot") format('eot');
  font-display: swap;
}
.App {
  font-family: 'Lato';
  font-weight: 400;
  color: #fff;
}
.wrapper{
  width: 100%;
  background: linear-gradient(180.95deg, #000000cc 0%, #100c3ac9 100%);
}   
.container{
  width: 1200px;
  max-width: 1200px;
  border-right: #0000006e solid 1px;
  border-left: #0000006e solid 1px;
}
.page-block{
margin: 30px 30px;
background: #ffffff;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 6px;
}
.quick-posting{
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.quick-posting-btnbox{
  width: 180px;
  height: 40px;
}
.quick-posting__btn{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: #000000 solid 2px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: linear-gradient(60.95deg, #000000cc 0%, #b9b9b9c9 100%);
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quick-posting__btn:hover{
  box-shadow: 4px 6px 20px #000;
  color: aquamarine;
}
.quick-posting-field{
  width: 95%;
  max-width: 95%;
  max-height: 60%;
  height: 70%;
  border: #000000 1px solid;
  border-radius: 12px;
  margin-bottom: 15px;
  /* background-color: #000000; */
  /* font-size: 18px; */
  /* color: aquamarine; */
  padding: 3px;
  /* border-radius: 4px; */
  resize: none;
  text-align: start;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
