.ul {
    margin: 0;
}

.nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 100%;
    width: 2%;
    height: 100%;
    background: linear-gradient(180.95deg, #000000cc 0%, #030109c9 100%);
    border-right: #ffffff double 10px;
    border-top: #ffffff solid 5px;
    /* transform: translateX(-80%); */
    transition: 1s;
}

.item {
    margin-left: 30px;
    width: 80%;
}

.item:hover .link {
    text-shadow: 0 -5px 10px #ffffff;
}

.link {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff00;
    transition: color 1.2s, text-shadow 0.3s;
}
.nav:hover .link .active{
    color: aquamarine;
    transition: color 1.2s;
}
.link .active{
    transition: color 1.2s;
    color: #ffffff00;
}
.nav .link:first-child {
    margin-top: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav:hover {
    transform: translateX(0%);
    width: 18%;
}

.nav:hover .link {
    color: #ffffff;
}